/***** GENERAL STYLING *****/

/*BODY*/

body {
    margin: 0%;
    background-color: #7E805D;
    width: 100%;
    overflow-x: hidden;
}


/*HEADING*/

h1 {
    text-transform: uppercase;
    /* Capitalizing all h1 headings */
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #931A25;
    /* Sets the font family of all h1 headings */
    text-align: center;
    /* Centering all h1 elements */
    margin-top: 3%;
    /* Adds a small margin above h1 elements */
    filter: drop-shadow(0.2rem 0.0rem 0.1rem rgba(0, 0, 0, 0.4));

}


/*PORTFOLIO TEXT*/

.white-text {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #fff;
    /* This is used to change the color of the portfolio title text */
}

/*PARAGRAPH ELEMENTS*/

p {
    font-family: "Montserrat", serif;
    font-weight: 600;
    color: goldenrod;
    text-align: justify;
    /* Justify text within paragraph elements */
    letter-spacing: 1px;
    /* This expands the text slightly */
    font-size: 20px;
    padding-left: 20px;
    /* Adds padding to the left of the paragraph element */
    padding-right: 20px;
    /* Adds padding to the right of the paragraph element */
    filter: drop-shadow(0.2rem 0.0rem 0.1rem rgba(0, 0, 0, 0.4));
}


/* CENTER CLASS */

.center {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #931A25;
    text-align: center;
    /* This center aligns the text */
}

/*ANCHOR ELEMENTS */

a {
    color: #fff;
    /* This ensures all links are white */
}

/*QUOTATION ELEMENTS*/

q {
    font-style: italic;
    /* This makes the quote italicized */
}

/*IMAGE ELEMENTS*/

img {
    filter: grayscale(75%) drop-shadow(0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.5));
    /* This rids our pictures of 75% of their color */
    max-width: 100%;
    /* Ensures all images stay within the width of their container */
    height: 500px;
    /* Sets the height of all images */
    display: block;
    /* By specifying block display we can ensure our images are able to be centered */
    margin-left: auto;
    /* In combination with "margin-right: auto" this centers all images */
    margin-right: auto;

}

.img-2 {
    max-width: 100%;
    height: 400px;
}

.img-3 {
    max-width: 100%;
    height: 200px;
    padding-top: 15px;
}


/*IMAGE HOVER EFFECTS*/

img:hover {
    filter: grayscale(5%);
    /* Brings back most of the image's color when hovered over */
    transition: transform 1s;
    /* Transition lasts 1 second */
    transform: scale(1.1);
    /* Image is increased slightly when hovered over */
    filter: drop-shadow(0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.5));
}

/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/*FOOTER STYLING*/

footer {
    padding: 2%;
    /* This gives the footer padding that is equal to 2% of the width of the element's area */
    background-color: #7E805D;
}

/***** END OF GENERAL STYLING *****/

/*NAVBAR STYLING*/

.Navbar {
    overflow: hidden;
    /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: goldenrod;
    /* This colors the navbar black */
    position: fixed;
    /* This keeps the navbar at the top of the screen as we scroll */
    top: 0;
    /* This ensures no space is displayed above the navbar */
    width: 100%;
    /* This makes the navbar span the entire width of the page */
    z-index: 1;
    /* This ensures other elements don't display over the navbar */
    -webkit-animation: moveNav 6s;
    /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
    animation: moveNav 6s;
    /* This applies the moveNav animation for all other browsers */

}

/*moveNav ANIMATION LEFT TO RIGHT SCREEN*/

@keyframes moveNav {
    from {
        left: -100vw;
    }

    /*NAVBAR STARTS SCREEN LEFT*/

    to {
        left: 0vw;
    }

    /*MOVES NAVBAR INTO PLACE ON SCREEN*/
}

/*NAVBAR LINKS*/
.Navbar a {
    float: left;
    /* This specifies that the text floats on the left on the navbar */
    display: block;
    /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: #7f3232;
    /* This is the font color for text on our navbar */
    padding: 14px 16px;
    /* This adds padding around our text */
    text-decoration: none;
    /* This gets rid of the underlines under the text on our navbar */
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 30px;
    /* This specifies the font size for text on our navbar */
    text-align: center;
    /* This centers the text within its container */
    position: relative;
    /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveNavText 6s;
    /* Animation for Safari 4.0 - 8.0 */
    animation: moveNavText 6s;
    /* Applies the moveNavText animation for 6s */
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {
        top: -100vw;
    }

    /* This sets the navbar text 100% above the viewport */
    to {
        top: 0vw;
    }

    /* This lowers the navbar text onto the navbar */
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%;
        /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {

    color: #7f3232;
    /* This defines the font color that will display when navbar a elements are hovered over */
    font-weight: bolder;
    /* This makes the text on the navbar bold when hovered over */
}

/*END OF NAVBAR STYLING*/

/***** Slideshow Styling *****/
#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35);
    /* This creates a slightly transparent white background that's palced over the video in the background */
}

.mySlides {
    display: none;
    /* This prevents the images from being displayed, we will use JS to display these */
}

/* Slideshow section / container */
#Slideshow_Container {
    width: 33.5vw;
    /* Relative sizing of the container for the slidewshow set to 39.5% of the viewport width */
    height: auto;
    /* The height of the container is automatically adjusted based on the content it is displaying */
    padding-top: 4%;
    /* Adds a small padding to the top of the slideshow container */
    position: relative;
    /* This sets the container relative to its normal positioning */
    margin: auto;
    /* This will horizontally center the container on the page */
}

/* Remove the underline from the previous and next buttons on the slideshow */
#Slideshow_Container a {
    text-decoration: none;
}

/* Images contained within the slideshow */
.Slideshow_Images {
    vertical-align: middle;
    /* This centers the images vertically within the slideshow container */
    height: auto;
    /* The height of the images is automatically adjusted based on the content, ie if your images are different sizes, they will display as different sizes */
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    /* Adds a shadow around the slideshow images */
    width: 100%;
    /* The width of the images is automatically adjusted based on the content */
}

/* Next and previous buttons */
.Previous,
.Next {
    cursor: pointer;
    /* Changes the mouse to a pointer when the buttons are selected */
    position: absolute;
    /* This makes the next and previous buttons positioned relative to the slideshow container */
    top: 50%;
    /* This moves the buttons up in the slideshow container */
    width: auto;
    /* The width of the buttons is automatically adjusted based on the content */
    padding: 2vw;
    /* Adds padding equal to 2% of the viewport width */
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    /* Adds a slightly rounded border on the top and bottom right corners */
    user-select: none;
    /* This property makes it so that the user cannot highlight the text */
    transition: 0.6s ease;
    /* This specifies the details of the hover transition for these elements */
}

/* Positioning the next button on the right hand side */
.Next {
    right: 0;
    /* This moves the next button to the right side of the slideshow container */
    border-radius: 3px 0 0 3px;
    /* This changes the border radius on the next button to the top and bottom left of the button */
}

/* Hover effect on slide show buttons */
.Previous:hover,
.Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* Makes the background of the arrows a transparent gray color */
    color: white;
    /* Makes the arrows white when hovered over */
}

/* Slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    /* This ensures the text is positioned within the image */
    bottom: 0;
    /* This property sets the text at the bottom of the image */
    width: 100%;
    /* The element covers the full width of the image */
    text-align: center;
    /* The text is center aligned within the image */
    font-family: "Montserrat", serif;
    letter-spacing: .1vw;
    /* This gives slight spacing between the letters */
    font-size: 1.25vw;
    /* Font size is relative to the size of the viewport width */
    background-color: rgba(0, 0, 0, 0.75);
    /* Gives a slightly transparent black background */
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
    /* Gives the text background rounded corners on the bottom left and right corners */
}

/* Styling of the dots under the slideshow */
.dot {
    cursor: pointer;
    /* The cursor changes to pointer when hovered over the dots */
    height: 1.5vw;
    /* The dots are sized relative to the viewport width */
    width: 1.5vw;
    margin: .35vw;
    /* adds additional spacing between the dots */
    background-color: white;
    /* Makes the dots white */
    border-radius: 50%;
    /* Makes the dots circles by rounding each corner */
    display: inline-block;
    /* Allows the dots to sit next to eachother rather than on a new line */
    transition: background-color 0.6s ease;
    /* When clicked on the dots transition to a different color when clicked or hovered over (the affect is defined below) */
    z-index: 1;
    /* This ensures the dots will be displayed above any other elements */
}

/* Hover effect for slideshow dots */
.active,
.dot:hover {
    background-color: goldenrod;
    /* Sets the color of the dots when active or hovered over */
}

/* Fading animation for slideshow */
.fade {
    animation-name: fade;
    /* Fade animation is defined below */
    animation-duration: 1.5s;
    /* The animation lasts 1.5 seconds */
    -webkit-animation-name: fade;
    /* Same as above for Safari 4.0-8.0 */
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    /* Image starts transparent */
    to {
        opacity: 1;
    }

    /* Image ends opaque */
}

@keyframes fade {
    from {
        opacity: .4;
    }

    /* Image starts transparent */
    to {
        opacity: 1;
    }

    /* Image ends opaque */
}

/***** End Slideshow Styling *****/

/*VIDEO STYLING*/

/* Formatting for background video */
#Typing_Video {
    position: static;
    height: 50%;
    width: 100vw;
    margin-top: -75px;
    /* This fixes the video to the page */
    right: 0;
    /* This ensures there is no space between the edge of the video and the edge of the page */
    bottom: 0;
    /* This ensures no space between the bottom of the video and the bottom of the page */
    min-width: 100%;
    /* This ensures the video is displayed across the full width of the page */
    z-index: -1;
    /* This places the video behind the other elements on the page */
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/*TEXT OVER VIDEO*/
.Video_Text {
    /* This provides a semi-transparent background for the text to sit over */
    color: white;
    /* Makes the font color white */
    width: 100%;
    /* Ensures the video-text container fills the width of the video */
    padding: 20px;
    /* This adds padding around the video-text container so that the background goes slightly beyond the text */
    position: relative;
    /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveVideoText 5s;
    animation: moveVideoText 5s;
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {
        top: -100vw;
    }

    /* This sets the position of the video text to above the viewport */
    to {
        top: 0vw;
    }

    /* This moves the video text to the normal positioning on the viewport */
}

/*END OF VIDEO STYLING*/

/*TABLE STYLING FOR COLUMNS + ROWS*/

* {
    /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box;
    /* This creates a box with a border within which we will place most of our text */
}

.Column_1 {
    float: left;
    width: 50%;
    /* This ensures the column takes up half of the page width */
    padding: 10px;
    padding-top: 3%;
    /* This ensures there is space between the top of the column and our headings */
    height: 500px;
    /* This sets the height of the column to 400px -  this may need to be adjusted depending on the text you enter */
    background-color: #4d4d4d;
    /* Sets the background color of the columns with class Column_1 */

}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 500px;
    background-color: #4d4d4d;
}

/* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form  while keeping the rest of the formatting from Column_1 or Column_2 */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
    content: "";
    /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
    display: table;
    /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
    clear: both;
    /* This clears any other elements from floating on the left or the right of an element */
}

/*END OF TABLE STYLING*/

/*CONTACT FORM*/

h3 {
    font-family: Montserrat, sans-serif;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    padding-top: 50px;
    color: goldenrod;
}

.contact-section {
    width: 100%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
}

.contact-intro>*+* {
    margin-top: 1rem;
}

.contact-title {
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #F4E0B9;
}

.contact-description {
    color: rgb(107 114 128);
}

.form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-left: 500px;
    margin-right: 500px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 0.5rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: goldenrod;
}

.form-input,
.form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    filter: drop-shadow(0.4rem 0.0rem 0.5rem rgba(0, 0, 0, 0.4));
}

.form-input::placeholder,
.form-textarea:focus-visible {
    color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 2px;
}

.form-textarea {
    min-height: 120px;
}

.form-submit {
    width: 10%;
    margin-top: 1.2rem;
    background-color: #931A25;
    color: #fff;
    padding: 13px 5px;
    margin-bottom: 15px;
    border-radius: 0.375rem;
    margin-left: 680px;
    filter: drop-shadow(0.2rem 0.0rem 0.1rem rgba(0, 0, 0, 0.4));
}

/*END CONTACT FORM*/

/*END SITE************************************************************/